$red: #FF0200;

.btn-outline-danger {
  color: $red;
  border-color: $red;

  &:hover {
    color: white;
    background-color: darken(red, 10%);
    border-color: darken(red, 10%);
  }
}

.jumbotron {
  height: 100vh;
  background-size: cover;
  background-position: top center;

  img {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
  }
}

.arrow--scroll {
  border: solid $red;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  position: absolute;
  bottom: 3rem;
  left: calc(50% - 19px);
}
