---
layout: default
---

<div class="home">
  <div class="jumbotron" style="background-image: url(/assets/img/new_york.jpg);">
    <img src="/assets/img/logo-swiss_film_academy.png" alt="Swiss Film Academy's logo" class="px-5 mt-5" width="100%">
    <i class="arrow--scroll"></i>
  </div>

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
