---
layout: default
---

<div class="jumbotron" style="background-image: url(/assets/img/new_york.jpg);">
  <img src="/assets/img/logo-swiss_film_academy.png" alt="Swiss Film Academy's logo" class="px-5 mt-5" width="100%">
  <i class="arrow--scroll"></i>
</div>

<div class="p-5">

  <h1 class="lead mb-5 text-center">The Swiss Film Academy of New York is a nonprofit film school located in Manhattan, New York, founded in 2017 by Educasuisse located in Geneva, Switzerland.</h1>
  <p>
    The School offers noncredit courses in the arts of filmmaking, producing, directing and screenwriting.<br>
    Swiss Film Academy draws faculty who are active, working professionals in their fields, many of whom are award winners or have formerly taught at such prestigious institutions as Tisch School of the Arts and New York Film Academy.
  </p>

  <p class="text-center mb-5">
    <a href="mailto:info@swissfilm-academy.nyc" class="btn btn-outline-danger btn-lg rounded-0">info@swissfilm-academy.nyc</a>
  </p>

  <div class="row text-center">
    <div class="col-12 col-md">
      <b>Administrative office (mailing address only)<br>USPS, FedEx, UPS, and DHL deliveries:</b></br>
      244 5th Avenue, Ste. E55.</br>
      New York, NY 10001
    </div>
    <div class="col mt-5 mt-md-0">
      <b>Academic building</b></br>
      Ripley-Grier Studios, 16th floor</br>
      New York, NY 10018
    </div>
  </div>

</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.380964057165!2d-73.99412278459378!3d40.75364497932737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259adab5d38ad%3A0x4335bd467cecabe7!2sRipley-Grier+Studios!5e0!3m2!1sfr!2sch!4v1508752685993" width="100%" height="450" frameborder="0" style="border:0; margin-bottom: -8px;" allowfullscreen></iframe>

<footer class="text-light bg-dark p-5">
  <p class="m-0 text-center">
    Swiss Film Academy of New York is a division of <a href="https://educasuisse.ch/" class="text-danger">Educasuisse</a> - Avenue de Chatelaine 93 - Chatelaine/Geneva - Switzerland.
  </p>
</footer>
